# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*.iml
/target
*.class
**/target
**/*.class
/**/.DS_Store
.DS_Store
.vscode/settings.json

# 忽略包含敏感信息的本地配置文件
**/src/main/resources/application-local.yml
**/src/main/resources/application-*.yml
**/src/main/resources/application-*.properties
.vscode
spring-boot-2.x-samples/elasticsearch/src/main/resources/application.properties
