# Maven
/target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 本地配置文件
**/application-local.yml
**/application-dingtalk.yml
**/application-prod.yml